<div class="hero">
	<br />
	<div class="frosty col-xs-offset-1 col-xs-10 text-center">
		<br />
		<h1>Learn Magic from the masters</h1>
		<br />
		<h2>I'm an illusionist, Kellen.</h2>
		<br />
		<%= link_to 'Learn More', '#', :class => 'btn btn-success' %>
		<br /><br />
	</div>
</div>